<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>deal25.html</title>
	<link rel="stylesheet" href="static/new_hand.css"/>
</head>
<body>
	<div class="app">
		<header></header>

		<div class="hands">
			<div class="list init-list">

				{% for path in card_path[0:25] %}

					<div class="list-item" draggable="true"><img src= {{ path }} alt={{ path }} width="60" height="90"></div>

        			{% endfor %}


			</div>

			<div class="list" id="hand6"><h5>H6</h5></div>

			<div class="list" id="hand5"><h5>H5</h5></div>

			<div class="list" id="hand4"><h5>H4</h5></div>

			<div class="list" id="hand3"><h5>H3</h5></div>

			<div class="list" id="hand2"><h5>H2</h5></div>

			<div class="list" id="hand1"><h5>H1</h5></div>

		<script src="static/js/drag2.js"></script>

		<a href="/"> <button>Home</button></a>

	</div>
</div>
</body>
</html>